// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};
$accent-color: #{"@theme_selected_bg_color"};


.tray-box {
    background-color: $bg-color;
    border-radius: 12px;
}

.tray-button {
    background-color: rgba(0,0,0,0);
}
.tray-icon {
    background-color: rgba(0,0,0,0);
}

//.WorkspaceWindow {
//    background-color: rgba(0,0,0,0);
//}

.workspace-active-button {
    border-radius: 50%;
    background-color: $accent-color;
    padding: 0;
    margin: 0;
}

.workspace-window {
    padding: 0;
    margin: 0;
}

.workspaces {
    padding: 0;
    margin: 0;
}

.workspace-inactive-button {
    background-color: rgba(0,0,0,0);
    padding: 0;
    margin: 0;
}

.workspace-inactive-button:hover {
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.workspace-button-icon {
    min-width: 42px;
    min-height: 42px;
    font-size: 32px;
    padding: 0;
    margin: 0;
}
